<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/> 
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="kh.lclass.jjapkorea.guest.model.dto.MemberDto" alias="memberDto"/>
		<typeAlias type="kh.lclass.jjapkorea.guest.model.dto.PersonDto" alias="personDto"/>
		<typeAlias type="kh.lclass.jjapkorea.guest.model.dto.BusinessDto" alias="businessDto"/>
		<typeAlias type="kh.lclass.jjapkorea.guest.model.dto.BusinessFormDto" alias="businessFormDto"/>
		<typeAlias type="kh.lclass.jjapkorea.business.model.dto.JobPostingDto" alias="jobPostingDto"/>
		<typeAlias type="kh.lclass.jjapkorea.business.model.dto.JobPostingCategoryDto" alias="jobPostingCategoryDto"/>
		<typeAlias type="kh.lclass.jjapkorea.person.model.dto.ScrapDto" alias="scrapDto"/>
		<typeAlias type="kh.lclass.jjapkorea.person.model.dto.ResumeWriteDto" alias="resumeDto"/>
		<typeAlias type="kh.lclass.jjapkorea.person.model.dto.QualificationDto" alias="qualificationDto"/>
		<typeAlias type="kh.lclass.jjapkorea.person.model.dto.EducationDto" alias="educationDto"/>
		<typeAlias type="kh.lclass.jjapkorea.person.model.dto.ExperienceDto" alias="experienceDto"/>
		<typeAlias type="kh.lclass.jjapkorea.person.model.dto.AwardDto" alias="awardDto"/>
		<typeAlias type="kh.lclass.jjapkorea.board.model.dto.BoardDto" alias="boardDto"/>
		<typeAlias type="kh.lclass.jjapkorea.board.model.dto.LikeDto" alias="LikeDto"/>
		<typeAlias type="kh.lclass.jjapkorea.reply.model.dto.ReplyDto" alias="replyDto"/>
		<typeAlias type="kh.lclass.jjapkorea.chat.model.dto.ChatRoomDto" alias="chatRoomDto"/>
		<typeAlias type="kh.lclass.jjapkorea.chat.model.dto.ChatMessageDto" alias="chatMessageDto"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/person-mapper.xml"/>
		<mapper resource="mappers/business-mapper.xml"/>
		<mapper resource="mappers/businessForm-mapper.xml"/>
		<mapper resource="mappers/jobPosting-mapper.xml"/>
		<mapper resource="mappers/jobPostingUpload-mapper.xml"/>
		<mapper resource="mappers/scrap-mapper.xml"/>
		<mapper resource="mappers/resume-mapper.xml"/>
		<mapper resource="mappers/qualification-mapper.xml"/>
		<mapper resource="mappers/education-mapper.xml"/>
		<mapper resource="mappers/experience-mapper.xml"/>
		<mapper resource="mappers/award-mapper.xml"/>
		<mapper resource="mappers/board-mapper.xml"/>
		<mapper resource="mappers/like-mapper.xml"/>
		<mapper resource="mappers/reply-mapper.xml"/>
		<mapper resource="mappers/chat-mapper.xml"/>
		<mapper resource="mappers/apisnsmember-mapper.xml"/>
	</mappers>
</configuration>





