<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/> 
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="kh.lclass.jjapkorea.member.model.dto.MemberDto" alias="memberDto"/>
		<typeAlias type="kh.lclass.jjapkorea.member.model.dto.PersonDto" alias="personDto"/>
		<typeAlias type="kh.lclass.jjapkorea.member.model.dto.BusinessDto" alias="businessDto"/>
		<typeAlias type="kh.lclass.jjapkorea.member.model.dto.BusinessFormDto" alias="businessFormDto"/>
		<typeAlias type="kh.lclass.jjapkorea.Jobposting.model.dto.JobpostingDto" alias="jobpostingDto"/>
		<typeAlias type="kh.lclass.jjapkorea.Jobposting.model.dto.JobPostingCategoryDto" alias="jobPostingCategoryDto"/>
		<typeAlias type="kh.lclass.jjapkorea.scrap.model.dto.ScrapDto" alias="scrapDto"/>
		<typeAlias type="kh.lclass.jjapkorea.board.model.dto.BoardDto" alias="boardDto"/>
		<typeAlias type="kh.lclass.jjapkorea.chat.model.dto.ChatRoomDto" alias="chatRoomDto"/>
		<typeAlias type="kh.lclass.jjapkorea.chat.model.dto.ChatMessageDto" alias="chatMessageDto"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/person-mapper.xml"/>
		<mapper resource="mappers/business-mapper.xml"/>
		<mapper resource="mappers/businessForm-mapper.xml"/>
		<mapper resource="mappers/jobposting-mapper.xml"/>
		<mapper resource="mappers/jobpostingUpload-mapper.xml"/>
		<mapper resource="mappers/scrap-mapper.xml"/>
		<mapper resource="mappers/board-mapper.xml"/>
		<mapper resource="mappers/chat-mapper.xml"/>
		<mapper resource="mappers/apisnsmember-mapper.xml"/>
	</mappers>
</configuration>





