@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

form {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: left;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

button {
    margin: 10px 0;
    background-color: #0073e6;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* 추가 입력 필드 스타일링 */
.certification-input, .experience-input, .international-experience-input {
    display: none;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}