@charset "UTF-8";

/*=========resumeWrite=이력서 등록 페이지=============*/

/* 로고 마진 0 */
#jkLogo {
    margin: 0;
}

/* 로고 안 a 옵션 설정 */
#jkLogo a {
    display: block;
    font-size: 0;
    width: 143px;
    height: 25px;
    margin-right: 19px;
}

/* a after로 이미지 호출 */
#jkLogo a:after {
    content: "";
    display: block;
    width: 150px;
    height: 50px;
    background-image: url(../images/짭코리아_반전.png);
    background-size: 100%;
}

/* 오른쪽 위 상단 메뉴 전체 */
.headerRight {
	text-decoration: none;
}

/* 상단 메뉴 : 개인회원 홈  */
#personalHome {
	position: absolute;
	top : 20px;
	left: 200px;
}

/* 상단 메뉴 : 이력서 관리  */
#resumeMgr {
	position: absolute;
	top : 20px;
	left: 400px;
}

/* 이력서 제목 */
#titleWrite.input {
	position: absolute;
	top : 60px;
	left : 20px;
}

/*=================================================*/

/* 인적사항*/
#personalData {
	position: relative;
	top : 200px;
}




input,
span,
label {
  font-family: 'Ubuntu', sans-serif;
  display: block;
  margin: 10px;
  padding: 10px;
  border: none;
  font-size: 18px;
}

input.question:focus {
  outline: 0;
}

/* Question */

input.question {
  font-size: 30px;
  font-weight: 300;
  border-radius: 4px;
  margin: 0;
  border: none;
  width: 200px;
  background: rgba(0, 0, 0, 0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
}
/* Underline and Placeholder */

input.question + label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  width: 10%;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}

input.question:focus + label {
  width: 200px;
}

input.question:focus,
input.question:valid {
  padding-top: 45px;
}

input.question:focus + label > span,
input.question:valid + label > span {
  top: -100px;
  font-size: 18px;
  color: #333;
}

input.question:valid + label {
  border-color: green;
}

input.question:invalid {
  box-shadow: none;
}

input.question + label > span {
  font-weight: 300;
  margin: 0;
  position: absolute;
  color: #000000;
  font-size: 22px;
  top: -55px;
  left: 0px;
  z-index: -1;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}





/*=================================================*/

#desiredJob{
	position: absolute;
	top:680px;
}


/*=================================================*/


#skill {
	position: absolute;
	top: 880px;
}


/*=================================================*/








