<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kh.lclass.jjapkorea.swp.persistence.apisnsmember-mapper">

    <select id="login" resultType="kh.lclass.jjapkorea.swp.domain.APISnsMember">
		 SELECT * FROM MEMBER WHERE mid = #{mid}
    </select>
    
    <update id="keepLogin">
	UPDATE MEMBER 
	SET sessionkey = #{sessionkey}, sessionlimit = #{sessionlimit}
	WHERE mid = mid, 1, INSTR('email', '@', 1, 1) - 1);
    </update>


    <select id="checkLoginBefore" resultType="kh.lclass.jjapkorea.swp.domain.APISnsMember">
        select * from MEMBER 
		WHERE sessionkey = #{loginCookie} AND sessionlimit > SYSTIMESTAMP();
    </select>

    <select id="getBySnsNaver" resultType="kh.lclass.jjapkorea.swp.domain.APISnsMember">
        select * from MEMBER where naverid = #{ naverid }
    </select>
    
    <select id="getBySnsGoogle" resultType="kh.lclass.jjapkorea.swp.domain.APISnsMember">
        select * from MEMBER where googleid = #{ googleid }
    </select>
    
    <select id="getBySnsKakao" resultType="kh.lclass.jjapkorea.swp.domain.APISnsMember">
        select * from MEMBER where kakaoid = #{ kakaoid }
    </select>

	<insert id="signupSns" parameterType="kh.lclass.jjapkorea.swp.domain.APISnsMember">
	  INSERT ALL
	  INTO member (mid, mpw, mtype, ENABLED, naverid, googleid, kakaoid)
	  VALUES (snsmid, #{mpw}, 'ROLE_PERSON', '1', #{naverid}, #{googleid}, #{kakaoid})
	  INTO person (mid, pemail, pphone, pname)
	  VALUES (snsmid, #{email}, 
	          '010-' || TO_CHAR(FLOOR(DBMS_RANDOM.VALUE(1000, 10000))) || '-' || TO_CHAR(FLOOR(DBMS_RANDOM.VALUE(1000, 10000))), 
	          COALESCE(#{nickname}, #{mname}, snsmid))
	  SELECT substr(#{email}, 1, instr(#{email}, '@', 1, 1) - 1) snsmid FROM DUAL
	</insert>

</mapper>