<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="approval">
	<resultMap type="approvalDto" id="approvalDto">
	    <id property="applyId" column="apply_id" />
	    <result property="status" column="STATUS" />
	    <result property="approvalDate" column="APPROVAL_DATE" />
	</resultMap>
	
	<insert id="insertApproval" parameterType="approvalDto">
		insert into approval (apply_id, STATUS) values (#{applyId}, #{status})
	</insert>
	
	<update id="updateApproval" parameterType="approvalDto">
		update approval set status = #{status} where apply_id = #{applyId}
	</update>
	
	<select id="statusByApplyId" resultType="string">
		select status from approval where apply_id = #{applyId}
	</select>
</mapper>
