<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="businessForm">
  	<select id="checkBusinessForm" resultType="int">
  		select count(*) from businessform
  	</select>
    
    <insert id="insertBusinessForm" parameterType="businessFormDto">
    insert into businessform values (#{bform}, #{bformName})
    </insert>
</mapper>
