<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="business">
	<resultMap type="businessDto" id="businessDto">
		<id property="mid" column="mid"/>
		<result property="bform" column="bform"/>
		<result property="brno" column="brno"/>
		<result property="bizname" column="bizname"/>
		<result property="brepName" column="brep_name"/>
		<result property="baddress" column="baddress"/>
		<result property="bname" column="bname"/>
		<result property="btel" column="btel"/>
		<result property="bemail" column="bemail"/>
		<result property="bind" column="bind"/>
		<result property="bemp" column="bemp"/>
		<result property="bestd" column="bestd"/>
		<result property="bcap" column="bcap"/>
		<result property="bsales" column="bsales"/>
		<result property="bgrad_salary" column="bgradSalary"/>
		<result property="bind_detail" column="bindDetail"/>
	</resultMap>

	<insert id="signUpBusiness" parameterType="businessDto">
		insert into business (mid, bform, brno, bizname, brep_name, baddress, bname, btel, bemail) values (#{mid}, #{bform}, #{brno}, #{bizname}, #{brepName}, #{baddress}, #{bname}, #{btel}, #{bemail})
	</insert>
	
	<delete id="cancelBusiness" parameterType="string">
		delete from business where mid = #{mid}
	</delete>
</mapper>
