<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chat">

	<select id="selectList" resultType="ChatRoomDto">
		select * from chat
	</select>
	<select id="selectOne" resultType="ChatRoomDto" parameterType="string">
		select * from chat where roomId=#{roomId}
	</select>
	<!-- <insert id="insert" parameterType="ChatRoomRepository">
		<selectKey keyProperty="roomid" resultType="string" order="BEFORE">
		select SEQ_BOARD_BNO.nextval nextval from dual
		</selectKey>
		insert into CHAT values ()
	</insert> -->
</mapper>
