<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="experience">
	<resultMap type="experienceDto" id="experienceDto">
	    <id property="experienceId" column="experience_id" />
	    <result property="resumeId" column="resume_id" />
	    <result property="workPeriod" column="work_period" />
	    <result property="workPlace" column="work_place" />
	    <result property="workDetails" column="work_details" />
	</resultMap>
	
	<insert id="insertExperience" parameterType="experienceDto">
		<selectKey keyProperty="experienceId" order="BEFORE" resultType="int">
	        SELECT EXPERIENCE_SEQ.NEXTVAL FROM DUAL
	    </selectKey>
	    INSERT INTO EXPERIENCE (EXPERIENCE_ID, RESUME_ID, WORK_PERIOD, WORK_PLACE, WORK_DETAILS)
	    VALUES (#{experienceId}, #{resumeId}, #{workPeriod}, #{workPlace}, #{workDetails})
	</insert>
	
	<update id="updateExperience" parameterType="experienceDto">
		update experience set work_details = #{workDetails}, work_period = #{workPeriod}, work_place = #{workPlace}
	</update>
	
	<select id="getExperienceById" resultType="experienceDto">
	   SELECT * FROM experience
	   WHERE RESUME_ID = #{resumeId}
	</select>
	
	<delete id="deleteExperience">
		delete from experience where RESUME_ID = #{resumeId}
	</delete>
</mapper>
