<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jobpostingUpload">
	<resultMap type="jobpostingDto" id="jobpostingDto">
		<id property="jid" column="jid"/>
		<result property="recruitField" column="recruitField"/>
		<result property="companyName" column="companyName"/>
		<result property="busino" column="busino"/>
		<result property="userEducation" column="userEducation"/>
		<result property="salary" column="salary"/>
		<result property="minSalary" column="minSalary"/>
		<result property="maxSalary" column="maxSalary"/>
		<result property="registDate" column="registDate"/>
		<result property="closeDate" column="closeDate"/>
		<result property="reTitle" column="reTitle"/>
		<result property="career" column="career"/>
		<result property="workType" column="workType"/>
		<result property="empTypeCode" column="empTypeCode"/>
		<result property="today" column="today"/>
		<result property="dday" column="dday"/>
	</resultMap>
	
	<insert id="insert" parameterType="jobpostingDto"> 
		<!-- 쿼리문이 두개? -->
		INSERT INTO info VALUES (#{jid}, #{recruitField}, #{companyName}, #{busino}, #{userEducation}, #{salary}, #{minSalary}, #{maxSalary}, #{registDate}, #{closeDate}, #{reTitle}, #{career}, #{workType}, #{empTypeCode}, #{today}, #{dday})
    </insert>
	
	<select id="list" resultMap="jobpostingDto">
		select * from info
	</select>
	
</mapper>
