<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jobPosting">
	<resultMap type="jobPostingDto" id="jobPostingDto">
		<id property="jid" column="jid"/>
		<result property="mid" column="mid"/>
		<result property="recruitField" column="recruit_field"/>
		<result property="userEducation" column="user_education"/>
		<result property="salary" column="salary"/>
		<result property="minSalary" column="min_salary"/>
		<result property="maxSalary" column="max_salary"/>
		<result property="registDate" column="regist_date"/>
		<result property="closeDate" column="close_date"/>
		<result property="reTitle" column="re_title"/>
		<result property="career" column="career"/>
		<result property="workType" column="work_type"/>
		<result property="empTypeCode" column="emp_type_code"/>
		<result property="today" column="today"/>
		<result property="dday" column="dday"/>
		<result property="jpostdetail" column="JPOSTDETAIL" />
		<result property="postTime" column="POST_TIME" />
		<result property="count" column="COUNT"/>
	</resultMap>
	
	<insert id="insertJobPosting" parameterType="jobPostingDto"> 
		insert into info (jid, mid, recruit_field, user_education, salary, min_salary, max_salary, regist_date, close_date, re_title, career, work_type, emp_type_code, today, dday) VALUES (#{jid}, #{mid}, #{recruitField}, #{userEducation}, #{salary}, #{minSalary}, #{maxSalary}, #{registDate}, #{closeDate}, #{reTitle}, #{career}, #{workType}, #{empTypeCode}, #{today}, #{dday})
    </insert>
    
	<select id="getJobPostingsWithBusinessInfo" resultType="java.util.Map">
	    select b.bizname, b.brno, TO_CHAR(b.LOGO_IMG) as LOGO_IMG, i.* from info i join business b on i.mid = b.mid order by i.post_date desc
	</select>
	<select id="getJobPostingsWithBusinessInfoCount" resultType="java.util.Map">
	    select b.bizname, b.brno, TO_CHAR(b.LOGO_IMG) as LOGO_IMG, i.* from info i join business b on i.mid = b.mid order by i.count desc
	</select>
	<update id="updateCount" parameterType="jobPostingDto">
		update info set count = count+1 where jid=#{jid}
	</update>
	
	<select id="topTwoInfoByDDay" resultType="java.util.Map">
		SELECT *
		FROM (
		    SELECT i.dday, i.re_title, b.bizname, i.jid
		    FROM info i
		    JOIN business b ON i.mid = b.mid
		    WHERE i.dday > 0
		    ORDER BY i.dday ASC
		)
		<![CDATA[WHERE ROWNUM <= 2]]>
	</select>
	
	<select id="getNextTwoInfoByDDay" resultType="java.util.Map">
		SELECT *
		FROM (
		    SELECT i.dday, i.re_title, b.bizname, i.jid, ROW_NUMBER() OVER (ORDER BY i.dday ASC) AS row_num
		    FROM info i
		    JOIN business b ON i.mid = b.mid
		    WHERE i.dday > 0
		)
		<![CDATA[WHERE row_num >= 3 and row_num <= 4]]>
	</select>
	
	<select id="getNextTwoInfoByDDay2" resultType="java.util.Map">
		SELECT *
		FROM (
		    SELECT i.dday, i.re_title, b.bizname, i.jid, ROW_NUMBER() OVER (ORDER BY i.dday ASC) AS row_num
		    FROM info i
		    JOIN business b ON i.mid = b.mid
		    WHERE i.dday > 0
		)
		<![CDATA[WHERE row_num >= 5 and row_num <= 6]]>
	</select>
	
	<select id="getNextTwoInfoByDDay3" resultType="java.util.Map">
		SELECT *
		FROM (
		    SELECT i.dday, i.re_title, b.bizname, i.jid, ROW_NUMBER() OVER (ORDER BY i.dday ASC) AS row_num
		    FROM info i
		    JOIN business b ON i.mid = b.mid
		    WHERE i.dday > 0
		)
		<![CDATA[WHERE row_num >= 7 and row_num <= 8]]>
	</select>
	
	<select id="getNextTwoInfoByDDay4" resultType="java.util.Map">
		SELECT *
		FROM (
		    SELECT i.dday, i.re_title, b.bizname, i.jid, ROW_NUMBER() OVER (ORDER BY i.dday ASC) AS row_num
		    FROM info i
		    JOIN business b ON i.mid = b.mid
		    WHERE i.dday > 0
		)
		<![CDATA[WHERE row_num >= 9 and row_num <= 10]]>
	</select>
	
	<select id="getNextTwoInfoByDDay5" resultType="java.util.Map">
		SELECT *
		FROM (
		    SELECT i.dday, i.re_title, b.bizname, i.jid, ROW_NUMBER() OVER (ORDER BY i.dday ASC) AS row_num
		    FROM info i
		    JOIN business b ON i.mid = b.mid
		    WHERE i.dday > 0
		)
		<![CDATA[WHERE row_num >= 11 and row_num <= 12]]>
	</select>
	
	<select id="topTwoInfoByLikehit" resultType="java.util.Map">
		WITH RankedBoard AS (
		    SELECT b.bno, b.btitle, to_char(b.bcontent) as BC, b.mid, b.likehit,
		           DENSE_RANK() OVER (ORDER BY b.likehit DESC) AS rank
		    FROM board b
		    JOIN board_like l ON b.bno = l.bno
		)
		SELECT bno, btitle, BC, mid, likehit
		FROM RankedBoard
		WHERE rank = 1 AND ROWNUM = 1
	</select>
	
	<select id="getNextTwoInfoByLikehit" resultType="java.util.Map">
		WITH RankedBoard AS (
		    SELECT b.bno, b.btitle, to_char(b.bcontent) as BC, b.mid, b.likehit,
		           DENSE_RANK() OVER (ORDER BY b.likehit DESC) AS rank
		    FROM board b
		    JOIN board_like l ON b.bno = l.bno
		)
		SELECT bno, btitle, BC, mid, likehit
		FROM RankedBoard
		WHERE rank = 2 AND ROWNUM = 1
	</select>
	
	<select id="getNextTwoInfoByLikehit2" resultType="java.util.Map">
		WITH RankedBoard AS (
		    SELECT b.bno, b.btitle, to_char(b.bcontent) as BC, b.mid, b.likehit,
		           DENSE_RANK() OVER (ORDER BY b.likehit DESC) AS rank
		    FROM board b
		    JOIN board_like l ON b.bno = l.bno
		)
		SELECT bno, btitle, BC, mid, likehit
		FROM RankedBoard
		WHERE rank = 3 AND ROWNUM = 1
	</select>
	
	<select id="getNextTwoInfoByLikehit3" resultType="java.util.Map">
		WITH RankedBoard AS (
		    SELECT b.bno, b.btitle, to_char(b.bcontent) as BC, b.mid, b.likehit,
		           DENSE_RANK() OVER (ORDER BY b.likehit DESC) AS rank
		    FROM board b
		    JOIN board_like l ON b.bno = l.bno
		)
		SELECT bno, btitle, BC, mid, likehit
		FROM RankedBoard
		WHERE rank = 4 AND ROWNUM = 1
	</select>
	
	<select id="getNextTwoInfoByLikehit4" resultType="java.util.Map">
		WITH RankedBoard AS (
		    SELECT b.bno, b.btitle, to_char(b.bcontent) as BC, b.mid, b.likehit,
		           DENSE_RANK() OVER (ORDER BY b.likehit DESC) AS rank
		    FROM board b
		    JOIN board_like l ON b.bno = l.bno
		)
		SELECT bno, btitle, BC, mid, likehit
		FROM RankedBoard
		WHERE rank = 5 AND ROWNUM = 1
	</select>
	
	<select id="getNextTwoInfoByLikehit5" resultType="java.util.Map">
		WITH RankedBoard AS (
		    SELECT b.bno, b.btitle, to_char(b.bcontent) as BC, b.mid, b.likehit,
		           DENSE_RANK() OVER (ORDER BY b.likehit DESC) AS rank
		    FROM board b
		    JOIN board_like l ON b.bno = l.bno
		)
		SELECT bno, btitle, BC, mid, likehit
		FROM RankedBoard
		WHERE rank = 6 AND ROWNUM = 1
	</select>
	
	<select id="mostScrappedJob" resultType="java.util.Map">
		SELECT scrap_count, i.*, b.bizname, bf.bform_name
		FROM info i
		JOIN (
		    SELECT s.jid, COUNT(s.jid) AS scrap_count
		    FROM scrap s
		    WHERE s.is_scrap_action = 'true'
		    GROUP BY s.jid
		    ORDER BY scrap_count DESC
		) max_scrap_jid
		ON i.jid = max_scrap_jid.jid
		JOIN business b ON i.mid = b.mid
		JOIN businessform bf ON b.bform = bf.bform
		WHERE ROWNUM = 1
	</select>
	
	<select id="mostClickedJob" resultType="java.util.Map">
		SELECT * FROM (
		    SELECT i.*, b.bizname, bf.bform_name
		    FROM info i
		    JOIN business b ON i.mid = b.mid
		    JOIN businessform bf ON b.bform = bf.bform
		    ORDER BY i.count DESC
		) WHERE ROWNUM = 1
	</select>
	
	<select id="highestSalaryJob" resultType="java.util.Map">
		SELECT * FROM (
		    SELECT i.*, b.bizname, bf.bform,
		           TO_NUMBER(REGEXP_REPLACE(salary, '[^0-9]', '')) AS numeric_salary
		    FROM info i
		    JOIN business b ON i.mid = b.mid
		    JOIN businessform bf ON b.bform = bf.bform
		    ORDER BY numeric_salary DESC
		) WHERE ROWNUM = 1
	</select>
	
	<select id="list" resultType="java.util.Map">
		<![CDATA[
	        SELECT * FROM (
	            SELECT r.*, a.JID, a.BIZNAME, TO_CHAR(a.logo_img) as LOGO_IMAGE, a.USER_EDUCATION, a.SALARY
	                , a.MIN_SALARY, a.MAX_SALARY, a.REGIST_DATE, a.CLOSE_DATE, a.RE_TITLE
	                , a.CAREER, a.WORK_TYPE, a.EMP_TYPE_CODE, a.TODAY, a.DDAY, a.MID
	                , TO_CHAR(a.JPOSTDETAIL) AS JPOSTDETAIL, a.BADDRESS , a.BFORM, a.BFORM_NAME, a.COUNT
	            FROM (SELECT * FROM (SELECT * FROM  BUSINESS b JOIN BUSINESSFORM b2 USING (bform))c JOIN INFO i USING (mid)) a
	            JOIN "RFIELD" r ON r.RECRUIT_FIELD = a.RECRUIT_FIELD order by post_date desc
	        )
	        WHERE ROWNUM <= 10
	    ]]>
	</select>
</mapper>
