<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jobpostingUpload">
	<resultMap type="jobPostingDto" id="jobpostingDtoResultMap">
		<id property="jid" column="JID" />
		<result property="mid" column="MID" />
		<result property="recruitField" column="RECRUIT_FIELD" />
		<result property="userEducation" column="USER_EDUCATION" />
		<result property="salary" column="SALARY" />
		<result property="minSalary" column="MIN_SALARY" />
		<result property="maxSalary" column="MAX_SALARY" />
		<result property="registDate" column="REGIST_DATE" />
		<result property="closeDate" column="CLOSE_DATE" />
		<result property="reTitle" column="RE_TITLE"/>
		<result property="career" column="CAREER" />
		<result property="workType" column="WORK_TYPE" />
		<result property="empTypeCode" column="EMP_TYPE_CODE" />
		<result property="today" column="TODAY" />
		<result property="dday" column="DDAY" />
		<result property="jpostdetail" column="JPOSTDETAIL" />
		<result property="postTime" column="POST_TIME" />
	</resultMap>
	<resultMap id="jobPostingCategoryDtoResultMap"		type="jobPostingCategoryDto">
		<id property="recruitField" column="RECRUIT_FIELD" />
		<result property="jobscd" column="JOBSCD" />
		<result property="jobscat" column="JOBSCAT" />
		<result property="jobsmcd" column="JOBSMCD" />
		<result property="jobsmcat" column="JOBSMCAT" />
		<result property="jobsscd" column="JOBSSCD" />
		<result property="jobsscat" column="JOBSSCAT" />
		<result property="fieldTitle" column="FIELD_TITLE" />
	</resultMap>

	<insert id="insert" parameterType="jobpostingDto">
		INSERT INTO INFO (JID, MID, RECRUIT_FIELD, USER_EDUCATION, SALARY,
		MIN_SALARY, MAX_SALARY, REGIST_DATE, CLOSE_DATE, RE_TITLE, CAREER,
		WORK_TYPE, TODAY, DDAY, JPOSTDETAIL) VALUES (#{jid}, #{mid},
		#{recruitField}, #{userEducation}, #{salary}, #{minSalary},
		#{maxSalary}, #{registDate}, #{closeDate}, #{reTitle}, #{career},
		#{workType}, #{today}, #{dday}, #{jpostdetail})
	</insert>
	<!-- 1차 세부 채용분야 -->
	<select id="selectFirst"
		resultMap="jobPostingCategoryDtoResultMap">
		SELECT * FROM "RSField" WHERE SUBSTR(JOBSMCD, 1, 1) = #{selectedOption}
	</select>


	<!-- 2차 세부 채용분야 -->
	<select id="selectSecond"
		resultMap="jobPostingCategoryDtoResultMap">
		SELECT * FROM "RTField" WHERE SUBSTR(JOBSSCD, 1, 2) = #{selectedOption}
	</select>
	<!-- 3차 세부 채용분 -->
	<select id="selectThird"
		resultMap="jobPostingCategoryDtoResultMap">
		SELECT * FROM "RFIELD" WHERE SUBSTR(RECRUIT_FIELD, 1, 3) = #{selectedOption}
	</select>





	<select id="selectList" resultMap="jobpostingDtoResultMap" resultType="string">
		SELECT RE_TITLE, JID, TO_CHAR(JPOSTDETAIL) FROM INFO WHERE MID = #{mid}

	</select>
	<select id="getJobPostingWithInfo" resultType="map">
		<!-- 	    select b.*, i.JID, i.RECRUIT_FIELD, i.USER_EDUCATION, i.SALARY, i.MIN_SALARY, i.MAX_SALARY, i.REGIST_DATE, i.CLOSE_DATE, i.RE_TITLE, i.CAREER, i.WORK_TYPE, i.EMP_TYPE_CODE, i.TODAY, i.DDAY, TO_CHAR(i.JPOSTDETAIL) AS JPOSTDETAIL from info i join business b on i.mid = b.mid where i.jid = #{jid} order by i.post_date desc-->	
		SELECT r.*, a.JID, a.BIZNAME, a.RECRUIT_FIELD, a.USER_EDUCATION, a.SALARY
		, a.MIN_SALARY, a.MAX_SALARY, a.REGIST_DATE, a.CLOSE_DATE, a.RE_TITLE
		, a.CAREER, a.WORK_TYPE, a.EMP_TYPE_CODE, a.TODAY, a.DDAY
		, TO_CHAR(a.JPOSTDETAIL) AS JPOSTDETAIL, a.BADDRESS , a.BFORM, a.COUNT
		FROM 
		RFIELD r 
		join 
		(SELECT * FROM BUSINESS b JOIN INFO i ON i.MID = b.MID) a 
		ON r.RECRUIT_FIELD =a.RECRUIT_FIELD 
		WHERE JID = #{JID}	
	</select>
	
	<update id="jobPostingUpdate" parameterType="jobPostingDto">
		UPDATE INFO SET RECRUIT_FIELD = #{recruitField}, USER_EDUCATION = #{userEducation}, SALARY = #{salary},
		MIN_SALARY = #{minSalary}, MAX_SALARY = #{maxSalary}, REGIST_DATE = #{registDate}, CLOSE_DATE = #{closeDate}, RE_TITLE = #{reTitle}, CAREER = #{career},
		WORK_TYPE = #{workType}, TODAY = #{today}, DDAY = #{dday}, JPOSTDETAIL = #{jpostdetail} where JID = #{jid}
	</update>
	
	
	<delete id="jobPostingDelete" parameterType="string">
		delete from info where jid =#{jid}
	</delete>
	
	
	
</mapper>
