<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jobPosting">
	<resultMap type="jobPostingDto" id="jobPostingDto">
		<id property="jid" column="jid"/>
		<result property="mid" column="mid"/>
		<result property="recruitField" column="recruit_field"/>
		<result property="userEducation" column="user_education"/>
		<result property="salary" column="salary"/>
		<result property="minSalary" column="min_salary"/>
		<result property="maxSalary" column="max_salary"/>
		<result property="registDate" column="regist_date"/>
		<result property="closeDate" column="close_date"/>
		<result property="reTitle" column="re_title"/>
		<result property="career" column="career"/>
		<result property="workType" column="work_type"/>
		<result property="empTypeCode" column="emp_type_code"/>
		<result property="today" column="today"/>
		<result property="dday" column="dday"/>
		<result property="jpostdetail" column="JPOSTDETAIL" />
		<result property="postTime" column="POST_TIME" />
		<result property="count" column="COUNT"/>
	</resultMap>
	
	<insert id="insertJobPosting" parameterType="jobPostingDto"> 
		insert into info (jid, mid, recruit_field, user_education, salary, min_salary, max_salary, regist_date, close_date, re_title, career, work_type, emp_type_code, today, dday) VALUES (#{jid}, #{mid}, #{recruitField}, #{userEducation}, #{salary}, #{minSalary}, #{maxSalary}, #{registDate}, #{closeDate}, #{reTitle}, #{career}, #{workType}, #{empTypeCode}, #{today}, #{dday})
    </insert>
    
	<select id="getJobPostingsWithBusinessInfo" resultType="java.util.Map">
	    select b.bizname, b.brno, TO_CHAR(b.LOGO_IMG) as LOGO_IMG, i.* from info i join business b on i.mid = b.mid order by i.post_date desc
	</select>
	<select id="getJobPostingsWithBusinessInfoCount" resultType="java.util.Map">
	    select b.bizname, b.brno, TO_CHAR(b.LOGO_IMG) as LOGO_IMG, i.* from info i join business b on i.mid = b.mid order by i.count desc
	</select>
	<update id="updateCount" parameterType="jobPostingDto">
		update info set count = count+1 where jid=#{jid}
	</update>

</mapper>
