<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<resultMap type="memberDto" id="memberDto">
		<id property="mid" column="mid"/>
		<result property="mpw" column="mpw"/>
		<result property="mtype" column="mtype"/>
	</resultMap>

	<select id="loginPerson" resultType="memberDto">
		select mpw from member where mid=#{mid} and mtype=1
	</select>
	
	<select id="loginBusiness" resultType="memberDto">
		select mpw from member where mid=#{mid} and mtype=2
	</select>
	
	<insert id="signUpMember" parameterType="memberDto">
		insert into member (mid, mpw, mtype) values (#{mid}, #{mpw}, #{mtype})
	</insert>
</mapper>

