<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<resultMap type="memberVo" id="memberVo">
		<id property="mid" column="mid"/>
		<result property="mpw" column="mpw"/>
		<result property="mtype" column="mtype"/>
	</resultMap>
	
	<resultMap type="businessFormVo" id="businessFormVo">
		<id property="bform" column="bform"/>
		<result property="bformName" column="bform_name"/>
	</resultMap>

	<select id="login" resultType="string" parameterType="string">
		select mpw from member where mid=#{mid} and mtype=1
	</select>
	
	<select id="businessLogin" resultType="string" parameterType="string">
		select mpw from member where mid=#{mid} and mtype=2
	</select>
	
	<insert id="pSignup" parameterType="memberVo">
		insert into member values (#{mid}, #{mpw}, 1)
	</insert>

	<insert id="bSignUp" parameterType="memberVo">
		insert into member values (#{mid}, #{mpw}, 2)
	</insert>
	
    <select id="check" resultType="int">
        SELECT COUNT(*) FROM businessform
    </select>
    
    <insert id="insert" parameterType="businessFormVo">
		<!-- 쿼리문이 두개? -->
        INSERT INTO businessform VALUES (#{bform}, #{bformName})
    </insert>
	
	<delete id="delete" parameterType="memberVo">
		delete from member where mid = #{mid}
	</delete>
</mapper>

