<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<resultMap type="memberDto" id="memberDto">
		<id property="mid" column="mid"/>
		<result property="mpw" column="mpw"/>
		<result property="mtype" column="mtype"/>
		<result property="enabled" column="enabled"/>
	</resultMap>
	
	<select id="loginAdmin" resultType="memberDto">
		select * from member where mid=#{mid} and mpw=#{mpw} and mtype='ROLE_ADMIN'
	</select>
	
	<select id="loginPerson" resultType="memberDto">
		select * from member where mid=#{mid} and mpw=#{mpw} and mtype='ROLE_PERSON'
	</select>
	
	<select id="loginBusiness" resultType="memberDto">
		select * from member where mid=#{mid} and mpw=#{mpw} and mtype='ROLE_BUSINESS'
	</select>
	
	<insert id="signUpMember" parameterType="memberDto">
		insert into member (mid, mpw, mtype) values (#{mid}, #{mpw}, #{mtype})
	</insert>
</mapper>

