<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mypage">

	<resultMap type="ExperienceDto" id="experienceDto">
	    <id property="experienceId" column="experience_id" />
	    <result property="resumeId" column="resume_id" />
	    <result property="workPeriod" column="work_period" />
	    <result property="workPlace" column="work_place" />
	    <result property="workDetails" column="work_details" />
	</resultMap>
	
	<select id="getWorkPeriod" resultType="ExperienceDto" parameterType="String">
	   SELECT * FROM experience
	   WHERE WORK_PERIOD = #{workPeriod}
	</select>
</mapper>
