<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qualification">
	<resultMap type="qualificationDto" id="qualificationDto">
	    <id property="qualificationId" column="qualification_id" />
	    <result property="resumeId" column="resume_id" />
	    <result property="qualificationName" column="qualification_name" />
	    <result property="qualificationDate" column="qualification_date" />
	    <result property="qualificationAuthority" column="qualification_authority" />
	</resultMap>
	
	<insert id="insertQualification" parameterType="qualificationDto">
		<selectKey keyProperty="qualificationId" order="BEFORE" resultType="int">
	        SELECT QUALIFICATION_SEQ.NEXTVAL FROM DUAL
	    </selectKey>
	    INSERT INTO QUALIFICATION (QUALIFICATION_ID, RESUME_ID, QUALIFICATION_NAME, QUALIFICATION_DATE, QUALIFICATION_AUTHORITY)
	    VALUES (#{qualificationId}, #{resumeId}, #{qualificationName}, #{qualificationDate}, #{qualificationAuthority})
	</insert>
	
	<update id="updateQualification" parameterType="qualificationDto">
		update qualification set qualification_name = #{qualificationName}, qualification_date = #{qualificationDate}, qualification_authority = #{qualificationAuthority}
	</update>
	
	<select id="getQualificationById" resultType="qualificationDto">
	   SELECT * FROM qualification
	   WHERE RESUME_ID = #{resumeId} order by qualification_id
	</select>
	
	<delete id="deleteQualification">
		delete from qualification where RESUME_ID = #{resumeId}
	</delete>
</mapper>
