<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="resume">
	<resultMap type="resumeDto" id="resumeDto">
        <id property="resumeId" column="resume_id" />
        <result property="mid" column="mid" />
        <result property="address" column="address" />
        <result property="title" column="title" />
        <result property="selfintroduction" column="selfintroduction" />
    </resultMap>
    
    <insert id="insertResume" parameterType="resumeDto">
    	<selectKey keyProperty="resumeId" order="BEFORE" resultType="int">
	        SELECT RESUME_SEQ.NEXTVAL FROM DUAL
	    </selectKey>
	    INSERT INTO RESUME (RESUME_ID, MID, ADDRESS, TITLE, SELFINTRODUCTION, IMAGE_URL)
	    VALUES (#{resumeId}, #{mid}, #{address}, #{title}, #{selfintroduction}, #{imageUrl})
	</insert>
	
	<select id="getResumeById" resultType="resumeDto">
	   SELECT * FROM resume
	   WHERE mid = #{mid}
	</select>
	 
	<select id="getResumeWithQualification" resultType="java.util.Map">
	    select * from resume join qualification using (resume_id) where mid = #{mid}
	</select>
	
	<select id="getResumeWithEducation" resultType="java.util.Map">
	    select * from resume join education using (resume_id) where mid = #{mid}
	</select>
	
	<select id="getResumeWithExperience" resultType="java.util.Map">
	    select * from resume join experience using (resume_id) where mid = #{mid}
	</select>
	
	<select id="getResumeWithAward" resultType="java.util.Map">
	    select * from resume join award using (resume_id) where mid = #{mid}
	</select>
	
	<update id="updateResume" parameterType="resumeDto">
		update resume set address = #{address}, selfintroduction = #{selfintroduction}, title = #{title}, image_url = #{imageUrl}
	</update>
</mapper>
